extends baseEmail

block content
  p Hi #{firstName},
    p We received a request to reset the password for your account.\n Please click the link below to reset your password. 
    p #{url}
    p This link will expire in 10 minutes for security reasons.
    p We're all a big familiy here, so make sure to upload your user photo so we get to know you a bit better!
    P WEBSITE FOR THIS FUNCTION IS NOT YET IMPLEMENTED
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Reset Password
    p If you did not request a password reset, please ignore this email—your account will remain secure.